h1{
  text-align:center;
  font-size:200%;
    font-family:arial;
  margin-bottom:30px;
}
div{
  background-color:gray;
  border:5px solid black;
  padding:10px;
  
}
h2{
  font-size:125%;
  font-family:arial;
}
p{ 
  font_family:arial;}
