h1{
  text-align:center;
  font-size:200%;
    font-family:arial;
  margin-bottom:30px;
}

div{
  background-color:gray;
  border:1px solid black;
  padding:0px,10px,10px,10px;
  
}
h2{
  margin-top:0px;
  margin-right:0px;
  font-size:125%;
  font-family:arial;
  text-align:top-right;
  width:200px;
  
}
p{ 
  font-family:arial;}
#ch>h2{
  background-color:maroon;
  text-color:white;
}
#be>h2{
  background-color:#DEB887;
  text-color:black;
}
#su>h2{
  background-color:#FF7F50;
  text-color:red;
}
