h1{
  text-align:center;
  font-size:200%;
    font-family:arial;
  margin-bottom:50px;
}
#contain
{ margin-left:30px;
  margin-right:30px;
}
#ch,#be,#su{
  background-color:gray;
  border-sizing:border-box;
border:1px solid black;
  
}

h2{
  text-align:right;
  font-size:110%;
  font-family:arial;
  height:40px;
  width:70px;

}
p{ 
  font-family:arial;
padding:10px;}
#ch>h2{
  background-color:maroon;
  text-color:white;
}
#be>h2{
  background-color:#DEB887;
  text-color:black;
}
#su>h2{
  background-color:#FF7F50;
  text-color:red;
}
@media (min-width:992px){
  .col-lg-4{
    float:left;
    width:33%;
  }}
@media (min-width:768px)and(max-width:991px){
  .col-mg-12{
    float:left;
    width:100%;
  }
  .col-mg-6{
    float:left;
    width:50%;
  }
}
@media (max-width:767px){
  .col-sg-12{
    float:left;
    width:100%;
  }}
